#carousel-holder {
  margin: 0 auto;
  max-width: 1200px;
  background: lightgrey;
}

#display-images {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

#buttons {
  margin: 0 auto;
  text-align: center;
}

.slider-buttons {
  font-size: 2em;
  display: inline;
  border: 1px solid black;
}

img {
  margin: auto;
  display: inline-block
}

.disabled {
  font-size: 1.5em;
  display: inline;
  border: 1px solid black;
  background: white;
}
